[client]
user=mysql
host=127.0.0.1
port=3305

[mysqld]
plugin-dir=/usr/local/mysql/plugin_output_directory/
port=3305
key_buffer_size=16M
max_allowed_packet=128M
binlog-format=STATEMENT

# Blockchain Storage eninge
blockchain_bc_configuration_path="/trustdble/data/configs/configuration.ini"

rewrite_trustdble_server_number="0"
rewrite_trustdble_bc_configuration_path="/trustdble/data/configs/configuration.ini"
rewrite_trustdble_bc_dependency_path="/usr/local/mysql/_deps"

plugin-load=ha_blockchain.so;rewrite_trustdble.so

